<style type="text/css">
.myfile{
    width:calc(45% + 20px);
    padding: 15px 25px;
    
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.bs-calltoaction{
    position: relative;
    width:calc(25% + 20px);
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

    .bs-calltoaction > .col{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .col > [class^="col-"],
        .bs-calltoaction > .col > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 3px;
                padding-bottom: 3px;
            }

                .cta-title{
                    margin: 0 auto 10px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }

            .cta-button{
                padding-top: 5px;
                padding-bottom: 5px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .col{
        display:block;
        width: calc(10% + 10px);
    }

        .bs-calltoaction > .col > [class^="col-"],
        .bs-calltoaction > .col > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position:calc(10% + 10px);
        }

        .cta-contents{
            text-align: center;
        }
}



.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}
</style>
<div class="container">
<form action="/tenantroute" method="post">
    <div id="left" style="float:left; width:50%;"> This is left panel                     
            
            <div class="col-sm-12">
            <input type="radio" name="tenant" value="instance1">
                <div class="bs-calltoaction bs-calltoaction-info">
                    <div class=.col">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Tenant 1</h1>
                            <div class="cta-desc">
                                <p>Karan Didwani</p>
                                <p>karan.didwani@sjsu.edu</p>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="radio" name="tenant" value="instance3">
                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class=.col">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Tenant 2</h1>
                            <div class="cta-desc">
                                <p>Noopur Joshi</p>
                                <p>noopur.joshi@sjsu.edu</p>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="radio" name="tenant" value="instance3">
                <div class="bs-calltoaction bs-calltoaction-warning">
                
                    <div class=.col">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Tenant 3</h1>
                            <div class="cta-desc">
                                <p>Foram Mehta</p>
                                <p>foram.mehta@sjsu.edu</p>
                            </div>
                        </div>
                     </div>
                </div>
                
                <input type="radio" name="tenant" value="instance4">
                <div class="bs-calltoaction bs-calltoaction-danger">
                    <div class=.col">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Tenant 3</h1>
                            <div class="cta-desc">
                                <p>Arun Kumar Chandramohan</p>
                                <p>arunkumar.chandramohan@sjsu.edu</p>
                            </div>
                        </div>
                        
                     </div>
                </div>

            </div>
            </div>
            <div id="right" style="float:right; width:50%;"> This is right panel </div>  
            <h3>Provide Source Code Path</h3>
            <!--form action="Submit" method="post">
                            Project file path: <input type="text" name="projectFilepath"><br>
                            <input type="submit" value="Submit">

            </form-->
           
                <input type="file" name="file" accept=".zip">
                <input type="submit" value="Upload">

                <h3>Displaying Image</h3>
                <!--img src="../static/output.png"-->
            </form>
             
        </div>

